@import url("https://fonts.googleapis.com/css?family=Abel");

html,
body {
	background: #fceeb5;
	font-family: Abel, Arial, Verdana, sans-serif;
}

body {
	margin: auto;
	padding: 30px;
}

.grid {
	display: grid;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.form-control {
	padding: 16px 0;
	font-size: 14px;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
}

@media only screen and (min-width: 576px) {
	body {
		width: 576px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		width: 768px;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (min-width: 925px) {
	body {
		width: 925px;
	}

	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
}
